<style>
@import url('https://fonts.googleapis.com/css?family=Assistant');
</style>

<link rel="stylesheet" type="text/css" href="index.html">

.exit {
  font-size: 25pt;
  color:yellow;
  clear:both;
}
